.card {
  width: 400px;
  height: 600px;
  border: 4px solid black;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.3s ease;
}

/* AVAILABLE */
.available {
  background-color: #fff8dc;
  filter: grayscale(0);
}

/* NOT AVAILABLE */
.unavailable {
  background-color: #f2f2f2;
  filter: grayscale(100%);
  opacity: 0.7;
  pointer-events: none;
}
